/* 
    Created on : 17-abr-2017, 11:25:46
    Author     : JC
*/

#main-admin {
	padding-top: 100px; 
}

.login {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width:320px;
	height: 400px;
    margin: auto;
}
.navbar-expand-md {
	/*margin-top: 0px;*/
}

.navbar-expand-md.fixed-top {
	top:0;
}

.navbar-expand-md .navbar-brand {
	padding: 0px 50px;
	font-weight: bold;
	color: #121212; 
}

.jc-toggler  {
    top: -2px;
}

.btn-jc .badge 
{
	background-color:#FFF;
}
.btn-jc.btn-theme .badge 
{
	color: #008EC2;
}

li.skill-edit, li.category-edit {
	display: none;
}
li.skill-edit input, li.category-edit input {
	transition: all 0.3s;
	max-width: 0;
}