@import "google-fonts";
@import "font-awesome.min.css";

//@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap/dist/css/bootstrap.min";

@import "variables";

@import "navigation"; 
@import "hero";

/* GENERAL */

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;      
}

::selection {
    background: $accent;
}

a, a:visited {
    color: $accent;
    text-decoration: none;
}
a:hover {
    color: $accent;
}
a:active, a:focus {
    color: $accent;
    text-decoration: none;
}
a::selection {
	color: #FFF;
}

#main {	
	height:100%;
}

.background {
    background-color: #d3d3d3;
}

.btn-jc {
	display: inline-block;
	padding: 14px 12px;
	text-transform: uppercase;
	color: #FFF !important;
	font-size: 0.786em;
	font-weight: 600;
	letter-spacing: 2px;
	-webkit-transition: 0.2s background linear;
    -moz-transition: 0.2s background linear;
    transition: 0.2s background linear;
}

.btn-jc:hover {
	text-decoration: none;
}

.btn-hero {
	text-transform: none;
	background-color: transparent; 
    border: 1px solid rgba(255, 255, 255, 0.15); 
	letter-spacing: 0.5px;
	font-size: 12px;
	font-family: sans-serif;	
}
.btn-hero:hover {
    background: rgba(255, 255, 255, 0.15);
}

.btn-theme-inverse {
	background-color: #000;
}
.btn-theme-inverse:hover {
	background-color: $accent;
}

.btn-theme {
	background-color: $accent;
}
.btn-theme:hover {
	background-color: #000;
}

.btn-rounded {
	border-radius: 5px;
}

.first-section {
	padding-top: 100px;
}

.highlighted { 
    font-weight: bold; 
	color: $accent;
}

.highlighted::selection {
	color: #FFF;
}

.parrafo, .size-xl
{
    font-size: 18px;    
}

.row-header, .row-subheader {
    text-align: center;
	color: #151515;
    padding-bottom: 30px;
	font-family: ralewaybold;
}

.row-header:after {
    content: "";
    display: block;
    background-color: $skin-color;
    width: 30px;
    height: 1px;
    margin: 15px auto 0;
}
.row-content {
    margin: 0px auto;
    padding-top:  5px;
    padding-bottom: 20px;    
}

.size-m {
	font-size: 14px;
}
.size-l {
	font-size: 16px;
}

.subtitle {
	color:grey;
}

/* HOME */
#mensajes {
   /* margin-top: 50px;*/
}
.mensaje
{
    min-height: 450px;    
}

.mensaje-header-container {
    display: table;  
    height: 100px;
    width: 100%;
}
.mensaje-header
{
    display: table-cell;
	color: gray;
	font-family: ralewaybold;
	text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    height: 100px;
}
.mensaje-icon {
	font-size:40px;
	display:table-cell;
	vertical-align: middle;
    padding-top: 20px;
    color: $accent; 
}
.mensaje-icon-rounded {
	font-size:40px;
	display:table-cell;
	vertical-align: middle;
    margin-top: 10px;
    width: 90px; 
    height: 90px; 
    color: $accent; 
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%; 
	background: #CCC; 
}

/* HOME - cifras */
.number {
    display: table;
    font-size: 25px;
    font-weight: 600;
    line-height: 24px;
    color:floralwhite;
    height: 140px;
    width: 140px;
    text-align: center;
    background: $accent;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.number .number-content {
    display: table-cell;
    vertical-align: middle;
}

.number span
{
    display: block;
    font-size: 20px;
    font-weight: normal;
    text-transform: lowercase;
}

/* SERVICIOS */

/* PROYECTOS */
.project-item-bottom
{
	position: absolute;
	
	width: 100%;
	/*margin: 0 auto;*/
	margin: auto;
	left: 0px;
	right: opx;
    bottom: 10px;
}

.project {
	color: gray;
}
.project-title  {
	display:inline-block;
    text-transform: uppercase;
	letter-spacing: 1px;
    border-bottom: 3px solid gray;	
}

.project-description {
	font-size: 18px;
}

#project-images {
	min-height: 250px; 
}

#project-images a img {
	height:200px; 
	width:auto;
}

/* CONTACTO */
.form-control-jc {
    width: 50%;
}


/* FOOTER */
#footer
{
    background-color: $skin-color-dark;
    color: floralwhite;
    font-size:larger;
}

#footer a, #footer a:visited {
    color: floralwhite;
    text-decoration: none;
}
#footer .btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0px rgba(2, 117, 216, 0.25);
}

/* COOKIES */
#cookie-consent {
    text-align: center;
    position:fixed;
    left:0px;
    right:0px;
    bottom:0px;
    background-color: rgba(0, 0, 0, 0.9);
    color:#fff;
    z-index:99999;    
}

#cookie-content {
    padding: 20px 0px;
}

#aceptar-cookies {
    color: green;
    cursor: pointer;
}

@media only screen and (max-width: 767px) {	
    .mensaje    
    {
        min-height: auto;    
    }
    
    .mensaje-header
    {
        height: auto;
    }
    
    .mensaje-body
    {
        text-align: inherit;
    }
    
}