@import "google-fonts";
@import "font-awesome.min.css";

//@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap/dist/css/bootstrap.min";

@import "variables";

@import "navigation"; 
@import "hero";
@import "titles";

/* GENERAL */

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.7; /* 1.5 */
    color: $text-color;		  
	/*letter-spacing: 0.2px;*/ /* same as my WordPress website */
}

::selection {
    background: $accent;
	color: #FFF;
}

a, a:visited {
    color: $accent;
    text-decoration: none;
}
a:hover {
    color: $accent;
}
a:active, a:focus {
    color: $accent;
    text-decoration: none;
}
a::selection {
	color: #FFF;
}

#main {	
	height:100%;
}

.background {
    background-color: $light-background;
}

.btn-jc {
	display: inline-block;
	padding: 14px 12px;
	text-transform: uppercase;
	color: #FFF !important;
	font-size: 0.786em;
	font-weight: 600;
	letter-spacing: 2px;
	-webkit-transition: 0.2s background linear;
    -moz-transition: 0.2s background linear;
    transition: 0.2s background linear;
}

.btn-jc:hover {
	text-decoration: none;
}

.btn-hero {
	text-transform: none;
	background-color: transparent; 
    border: 1px solid rgba(255, 255, 255, 0.15); 
	letter-spacing: 0.5px;
	font-size: 12px;
	font-family: sans-serif;	
}
.btn-hero:hover {
    background: rgba(255, 255, 255, 0.15);
}

.btn-theme-inverse {
	background-color: #000;
}
.btn-theme-inverse:hover {
	background-color: $accent;
}

.btn-theme {
	background-color: $accent;
}
.btn-theme:hover {
	background-color: #000;
}

.btn-rounded {
	border-radius: 5px;
}

.first-section {
	margin-top: 87px; // top bar + nav bar + border
}

.highlighted { 
    font-weight: bold; 
	color: $accent;
}

.highlighted::selection {
	color: #FFF;
}

.row-content {
    padding-top:  5px;
    padding-bottom: 20px;    
}

.size-m {
	font-size: 14px;
}
.size-l {
	font-size: 16px;
}
.parrafo, .size-xl
{
    font-size: 17px;    
}
size-xxl {
	font-size: 18px;
}

.subtitle {
	color:grey;
}

/* 
  HOME 
* **** */
#mensajes {
   /* margin-top: 50px;*/
}
.mensaje
{
    min-height: 400px;    
}

.mensaje-header-container {
    display: table;
	height:70px;
    width: 100%;
}
.mensaje-header
{
    display: table-cell;
	color: $skin-color-dark;
	/*font-size: 2.2rem;*/
	text-align: center;
    text-transform: uppercase;
    vertical-align: top;
}
.mensaje-icon {
	font-size:40px;
	display:table-cell;
	vertical-align: middle;
    padding-top: 20px;
    color: $accent; 
}
.mensaje-icon-rounded {
	font-size:40px;
	display:table-cell;
	vertical-align: middle;
    margin-top: 10px;
    width: 90px; 
    height: 90px; 
    color: $accent; 
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%; 
	background: #CCC; 
}

#jc-overview {
	padding: 2rem 0;
	font-weight: 700;
	color: #FFF;
	background-color: $accent;
	& img {
		width: 180px;
	}
	& h1 {
		font-size: 32px;
	}
	& h3 {
		font-size: 24px;
		text-transform: capitalize;
		color: #000;
	} 
}


.number {
    display: table;
    font-size: 25px;
    font-weight: 600;
    line-height: 24px;
    color:floralwhite;
    height: 140px;
    width: 140px;
    text-align: center;
	margin-bottom: 1rem;
    background: $accent;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
	
	.number-content {
		display: table-cell;
		vertical-align: middle;
	}
	
	span {
		display: block;
		font-size: 20px;
		font-weight: normal;
		text-transform: lowercase;
	}
}

#testimonials {
	& .carousel {
		& .carousel-caption {
			position: relative;
			left: 0;
		}
		& .carousel-control-prev, & .carousel-control-next {
			background: none;
			font-size: 2.3rem;
			font-weight: bold;
			bottom: -70%; /*100%; */
		}		
		& .carousel-control-prev-icon, & .carousel-control-next-icon {
			background-image: none;	
		}
		& .carousel-control-prev-icon:before {
			content: "\f104";
			font-family: "FontAwesome";
			color: $accent;
		}
		& .carousel-control-next-icon:after
		{
			content: "\f105";
			font-family: "FontAwesome";
			color: $accent;
		}
		& .carousel-item blockquote {
			color: $text-color;
			font-size: 1.1rem;
			margin: 0;
		}
		& .carousel-item blockquote p:before {
			display: block;
			content: "\f10d";
			font-family: "Fontawesome";
			font-size: 1.5rem;
			color: $skin-color-dark;
			/* float: left; */
			/*margin-right: 0.7rem;*/			
		}
	}
}

/* SERVICIOS */

.jc-click-to-tweet {
	border-left: 5px solid $accent;
}
.jc-click-to-tweet a {
	color: $skin-color-dark;
	font-weight: 500;;
	text-decoration: none;
}
.jc-click-to-tweet a:after {
	display:block;
	cursor: default;
	content: "Click to tweet";	
	color: #777; 
	text-transform: uppercase;
	font-size: 0.9rem;
	font-weight: bold;
	letter-spacing: 0.5px;
}

/* PROYECTOS */
.project-item-bottom
{
	position: absolute;
	
	width: 100%;
	/*margin: 0 auto;*/
	margin: auto;
	left: 0px;
	right: 0px;
    bottom: 10px;
}

.project {
	color: $text-color;
}
.project-title  {
	display:inline-block;
    text-transform: uppercase;
	letter-spacing: 1px;
    border-bottom: 3px solid $text-color;	
}

.project-title-no-underline  {
    border-bottom: none;	
}

.project-description {
	font-size: 18px;
}

#project-images {
	min-height: 250px; 
}

#project-images a img {
	height:200px; 
	width:auto;
}

/* CONTACTO */
.form-control-jc {
	width: 50%;
}


/* FOOTER */
#footer
{
    background-color: $skin-color-dark;
    color: floralwhite;
    font-size:larger;
}

#footer a, #footer a:visited {
    color: floralwhite;
    text-decoration: none;
}
#footer .btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0px rgba(2, 117, 216, 0.25);
}

/* COOKIES */
#cookie-consent {
    text-align: center;
    position:fixed;
    left:0px;
    right:0px;
    bottom:0px;
    background-color: rgba(0, 0, 0, 0.9);
    color:#fff;
    z-index:99999;    
}

#cookie-content {
    padding: 20px 0px;
}

#aceptar-cookies {
    color: green;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {	
	#testimonials .carousel .carousel-control-prev, 
	#testimonials .carousel .carousel-control-next {
			bottom: -50%;
	}
}

@media only screen and (min-width: 992px) {	
	#testimonials  {
			min-height: 380px;
	}
}

@media only screen and (min-width: 1200px) {	
	#testimonials  {
			min-height: 350px;
	}
}

@media only screen and (max-width: 991px) {
	.mensaje-header-container {
		height: auto;
		margin-bottom: 0.5rem;
	}
	.mensaje    
    {
        min-height: inherit;    
    }
}
@media only screen and (max-width: 767px) {	

	.first-section {
		margin-top: 68px; // nav bar + border
	}
    
    .mensaje-header
    {
        height: auto;
    }
    
    .mensaje-body
    {
        text-align: inherit;
    }
    
}