// Google fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans|Raleway);

@import "font-awesome.min.css";

//@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap/dist/css/bootstrap.min";

@import "variables";


/* GENERAL */

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;      
}

::selection {
    background: #FDA527;
}

a, a:visited {
    color: $accent;
    text-decoration: none;
}
a:hover {
    color: #FDA527;
}
a:active, a:focus {
    color: #FDA527;
    text-decoration: none;
}

.background {
    background-color: #d3d3d3;
}


.btn-jc {
	display: inline-block;
	padding: 14px 12px;
	text-transform: uppercase;
	color: #FFF !important;
	font-size: 0.786em;
	font-weight: bold;
	letter-spacing: 2px;
	-webkit-transition: 0.2s background linear;
    -moz-transition: 0.2s background linear;
    transition: 0.2s background linear;
}

.btn-jc:hover {
	text-decoration: none;
}

.btn-hero {
	text-transform: none;
	background-color: transparent; 
    border: 1px solid rgba(255, 255, 255, 0.15); 
	letter-spacing: 0.5px;
	font-size: 12px;
	font-family: sans-serif;	
}
.btn-hero:hover {
    background: rgba(255, 255, 255, 0.15);
}

.btn-theme-inverse {
	background-color: #000;
}
.btn-theme-inverse:hover {
	background-color: #FDA527;
}

.btn-theme {
	background-color: #FDA527;
}
.btn-theme:hover {
	background-color: #000;
}

.btn-rounded {
	border-radius: 5px;
}


.subtitle {
	color:grey;
}

.first-section {
	padding-top: 100px;
}

.highlighted { 
    font-weight: bold; 
	color: #FDA527;
}

#main {	
	height:100%;
}

.row-header, .row-subheader {
    text-align: center;
	color: #151515;
    padding-bottom: 30px;
	font-family: ralewaybold;
}

.row-header:after {
    content: "";
    display: block;
    background-color: #151515;
    width: 30px;
    height: 1px;
    margin: 15px auto 0;
}
.row-content {
    margin: 0px auto;
    padding-top:  5px;
    padding-bottom: 20px;    
}

.size-m {
	font-size: 14px;
}
.size-l {
	font-size: 16px;
}
.parrafo, .size-xl
{
    font-size: 18px;    
}

/* BARRA SUPERIOR*/
#top-bar-container {
    background: #f8f8f8;
}

#top-bar {
    color: #888;
    font-size: 13px;
    line-height: 40px;
    padding: 0px;
	a {
		color: #888;
		text-decoration: none;
	}
	a:hover {
		color: $accent;
	}
	.fa {
		font-size: 15px;
		padding: 0px 5px 0px 15px; 
	}
	.flag {
		display: inline;
	}
}

/* NAVBAR */

.navbar-toggleable-sm{
	margin-top: 40px;
	background: #121212;    
    border-bottom: 0px solid #e7e7e7;
    opacity: 0.9;
}

/*
.navbar-brand,
.navbar-nav li a {
    padding-top: 0px;
}
*/
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    /* margin-left: -40px; */
}

.navbar-brand img {
    max-height: 60px;
}

/* workaround laravel */
.navbar-toggleable-sm .navbar-nav>.open>a, .navbar-toggleable-sm .navbar-nav>.open>a:focus, .navbar-toggleable-sm .navbar-nav>.open>a:hover {
    color: #FDA527;
    background-color: #121212;
}
.navbar-toggleable-sm .navbar-nav>li>a:before{
	content:'\00B7'; 
	color: #FFF;
    padding-right: 5px;
}
.navbar-toggleable-sm .navbar-nav>li>a{
    color: #FFF;
	padding-left: 0px;
    padding-right: 10px;
    text-transform: uppercase; 
    letter-spacing: 1px;
	font-size: 12px;
    font-weight: bold;
    position: relative;
    display: block;
}

.navbar-toggleable-sm .navbar-nav>li>a:focus, .navbar-toggleable-sm .navbar-nav>li>a:hover {
    color: #FDA527;
}
    
.navbar-toggleable-sm .navbar-nav>.active>a, .navbar-toggleable-sm .navbar-nav>.active>a:focus, .navbar-toggleable-sm.navbar-nav>.active>a:hover {
    color: #FDA527;
    background-color: transparent;
}

.navbar-nav>li>.dropdown-menu {
    background: $background-skin; 
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-top: 2px solid;
    border-color: $accent;
    
    left: 50px;
    padding: 30px 20px;
    min-width: 200px;
    margin-top: 25px;
}
    
.dropdown-menu>li>a {
    display: block;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;
    font-weight: 400;
    color: #FFF;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    background-color: transparent;
    color: #FDA527;
}

.dropdown-toggle::after {
	display: none;
}

/* botones dispositivos móviles */

.navbar-toggleable-sm span.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#FDA527' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  color: $accent;
}
button.navbar-toggler.navbar-toggler-right {
  border-color: $accent;
  top: 4px;
}

#navbar-flags {
    display: none;
	margin-right: 77px;
}

#navbar-flags a{
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    line-height: 50px;
    border:1px solid #FDA527;
    padding: 10px;
    border-radius: 5px;
    margin-right: 5px;
	color: $accent;
}

/* HOME */
.hero.hero-top{
	display:table;
	width:100%;
	height:100%;
    background: url("../images/tactile_noise.png");
    color: #f8f8f2; /*floralwhite;*/ 	
	margin-top: -40px;
}

.hero-content
{
	display:table-cell;
	vertical-align: middle;
	text-align: center;
}

.hero-tagline {
	display: inline-block;
    color: #FFF;
    font-size: 14px;
    margin: 0 auto;
    text-transform: uppercase;
	letter-spacing: 0.5px;
    padding-bottom: 5px;
	border-bottom: 3px solid rgba(255, 255, 255, 0.15);
    margin-bottom: 5px;	
}

.hero-action
{
	display: inline-block;
    /*font-weight:bold;*/ 
	margin: 0px auto;
    /*text-transform: uppercase;*/
	font-size: 18px;
	letter-spacing: 1px;
	padding-bottom: 20px;
	/*padding-top: 5px;*/
	/*border-top: 3px solid rgba(255, 255, 255, 0.15);*/
}


#random-service {    
    height: 180px; 
    display: table;    
	margin:auto;
}


#random-service-text {
    display: table-cell;
	color: #FDA527;
    vertical-align: middle;
    text-align: center;
	margin: 0;
    font-size: 5em;
	font-weight: bold;
    line-height: 125%;
	text-transform: uppercase;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
 

#mensajes {
   /* margin-top: 50px;*/
}

.mensaje
{
    min-height: 450px;    
}

.mensaje-header-container {
    display: table;  
    height: 100px;
    width: 100%;
}

.mensaje-header
{
    display: table-cell;
	color: gray;
	font-family: ralewaybold;
	text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    height: 100px;
}
.mensaje-icon {
	font-size:40px;
	display:table-cell;
	vertical-align: middle;
    padding-top: 20px;
    color: #FDA527; 
}
.mensaje-icon-rounded {
	font-size:40px;
	display:table-cell;
	vertical-align: middle;
    margin-top: 10px;
    width: 90px; 
    height: 90px; 
    color: #FDA527; 
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%; 
	background: #CCC; 
}

/* HOME - cifras */

.number {
    display: table;
    font-size: 25px;
    font-weight: bold;
    line-height: 24px;
    color:floralwhite;
    height: 140px;
    width: 140px;
    text-align: center;
    background: #FDA527;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.number .number-content {
    display: table-cell;
    vertical-align: middle;
}


.number span
{
    display: block;
    font-size: 20px;
    font-weight: normal;
    text-transform: lowercase;
}

/* SERVICIOS */

/* PROYECTOS */
.project-item-bottom
{
	position: absolute;
	
	width: 100%;
	/*margin: 0 auto;*/
	margin: auto;
	left: 0px;
	right: opx;
    bottom: 10px;
}

.project {
	color: gray;
}
.project-title  {
	display:inline-block;
    text-transform: uppercase;
	letter-spacing: 1px;
    border-bottom: 3px solid gray;	
}

.project-description {
	font-size: 18px;
}

#project-images {
	min-height: 250px; 
}

#project-images a img {
	height:200px; 
	width:auto;
}

/* CONTACTO */

.form-control-jc {
    width: 50%;
}


/* FOOTER */

#footer
{
    background-color: #121212;
    color: floralwhite;
    font-size:larger;
}

#footer a, #footer a:visited {
    color: floralwhite;
    text-decoration: none;
}

/* COOKIES */

#cookie-consent {
    text-align: center;
    position:fixed;
    left:0px;
    right:0px;
    bottom:0px;
    background-color: rgba(0, 0, 0, 0.9);
    color:#fff;
    z-index:99999;    
}

#cookie-content {
    padding: 20px 0px;
}

#aceptar-cookies {
    color: green;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;    
    }
	.navbar-toggleable-sm .navbar-nav>li:first-child a:before {
	   display:none;
    }
	

}

@media only screen and (max-width: 991px) {
	#random-service {
	   height: 150px;  
	}
	#random-service-text {
	   font-size: 4em; 
	}
}

@media only screen and (max-width: 767px) {
   
	.navbar-toggleable-sm 
	{
		margin-top: 0px;
	}
	
	nav.navbar .container {
		width: 100%;

	}
	
    nav #top-bar .fa{
        font-size: 15px;
        padding: 0px 2px 0px 5px; 
    }
      
    .navbar-toggleable-sm .navbar-collapse {       
        border: 0px solid #FDA527;
    }
    .navbar-brand img {
		max-height: 40px;
	}    
	.navbar-nav li a {
        height: 40px;
        line-height: 50px;
        margin-left: 20px; 
    }
    
    .navbar-nav>li>.dropdown-menu {
        border-top: 0px solid;
		padding: 0px 30px;
		margin: 0px
    }
	
    
	.navbar-toggleable-sm .navbar-nav .open .dropdown-menu>li>a {
		height: 100px;
        line-height: 100px;
		color:#FFF;
    }

	.hero.hero-top{
		margin-top: 0px;
	}
	.hero-content {
		padding-left: 0px 50px;
	}
	
	.hero-action
    {
		font-size: 15px;
	}

	#random-service {
	   height: 150px;  
	}
	#random-service-text {
	   font-size: 2em; 
	}
    .mensaje    
    {
        min-height: auto;    
    }
    
    .mensaje-header
    {
        height: auto;
    }
    
    .mensaje-body
    {
        text-align: inherit;
    }
    
}
